/***** COLORS *****/
$colors: (
    s1: #D9043D,
    s2: #3c1642,
    s3: #1e0a1e,
    charcoal: #0D0D0D
);

@function color ($color-name){
    @return map-get($colors, $color-name);
}

/***** MIXINS *****/
@mixin phone {
    @media (min-width: 300px) and (max-width: 640px) {@content;}
}
@mixin tablet {
    @media (min-width: 640px) and (max-width: 1000px) {@content;}
}
@mixin desktop {
    @media (min-width: 1000px) {@content;}
}

 *{
    margin: 0;
    padding: 0;
 }

 body{
    background-color: color(charcoal);
    width: 100%;
    color: antiquewhite;

     header{
        width: 100%;

         #title-bg{}
         h1{}
         nav{}
     }
     main{
         s1{
             h2{
                 #hand{

                 }
             }
             .about-us{
                 .manda{
                     h2{}
                     .about-her{
                         .manda-img{}
                         .manda-text{}
                     }
                 }
             }
             #purple-bottom{
                 img{}
             }
         }
         s2{
             .about-us{
                 .betty{
                     h2{}
                     .about-me{
                         .betty-img{}
                         .betty-text{}
                     }
                 }
             }
             #s2-bottom{}
         }
         s3{
             #tales{
                 #tales-title{}
                 .quote-story{
                     #open-quote{}
                     #story{}
                     #close-quote{}
                 }
             }
             #tree-charcoal{}
             #podcasts{
                 h2{}
                 #merch-table{
                     ol{
                         iframe{}
                     }
                 }
             }
         }
         s4{
             h2{}
             #graveyard-black{}
         }
     }
     footer{
         .edit-by{
             img{}
             span{}
         }
         .social-media{
             a{
                 img{}
             }
         }
     }
 }

 .section{
     h2{}
 }
 /*****LINKS*****/
 /* a {
    color: antiquewhite;
    text-decoration: none;
  }
  
  a, .social-media img {
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  a:hover {
    font-size: 1.3em;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    color: #D9043D;
  } */

 /***** FONTS *****/
 @font-face {
    font-family: "wildwood";
    src: url("https://www.wfonts.com/download/data/2016/03/01/wildwood/JFWilwod.ttf") format("truetype");
    src: url("../fonts/JFWilwod.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  } /*Wildwood*/

  @font-face {
    font-family: "bosque-encantado";
    src: url("https://dl.dafont.com/dl/?f=bosque_encantado");
    src: url("..fonts/BosqueEncantado.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  } /*Bosque*/

  @font-face {
    font-family: 'Fredericka the Great';
    font-style: normal;
    font-weight: 400;
    /*    font-display: swap;*/
    src: local("Fredericka the Great"), local("FrederickatheGreat"), url(https://fonts.gstatic.com/s/frederickathegreat/v9/9Bt33CxNwt7aOctW2xjbCstzwVKsIBVV--Sjxbc.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }/*Fredericka*/

  @font-face {
    font-family: 'Tulpen One';
    font-style: normal;
    font-weight: 400;
    /*  font-display: swap;*/
    src: local("Tulpen One"), local("TulpenOne-Regular"), url(https://fonts.gstatic.com/s/tulpenone/v9/dFa6ZfeC474skLgesc0Cajo6_Q.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }/* Tulpen */

  @font-face {
    font-family: 'Josefin Slab';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/josefinslab/v13/lW-swjwOK3Ps5GSJlNNkMalNpiZe_ldbOR4W71msR349Kg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }/* Josefin */
  em {
    font-style: italic;
  }
  
  strong {
    font-size: 1.1em;
  }
  .apple{
    font-family: 'Homemade Apple';
  }